/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;}

/* my code, general classes */

* {
    box-sizing: border-box;
}

a{
    display: block;
    text-decoration: none;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 300%;
    font-weight: 1000;
}

input:active, input:focus{
    outline: none;
}

.linkOut{
    display: flex;
    background-color: rgb(255, 153, 0);
    color: white;
    padding: 0.5rem 1rem;
    border: darkorange 2px solid;
    border-radius: 0.05rem;
    max-width: fit-content;
}

/* main */

main {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% auto;
    background-image: url("./images/berries.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
}

main h2{
    font-size: 400%;
}

nav {
    height: 7.5vh;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5vw;
}

nav a{
    padding: 0.25rem;
    margin: 0 0.95rem;
    color: black;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

nav a:hover{
    color: #333;
    text-decoration: underline;
}

nav img{
    max-width: 25px;
}

.welcome{
    justify-self: center;
}

.welcome h1{
    display: none;
}

.welcome > * {
    margin: 1rem 0;
}

.searchbox{
    background: white;
    display: flex;
    align-items: center;
    width: fit-content;
    border: gray 1px solid;
    padding-left: 1rem;
    margin: auto;
}

.searchbox input{
    border: none;
    width: 25vw;
    min-width: 200px;
    padding: 0rem 1rem;
    height: 100%;
}

.searchbox img{
    width: 15px;
    height: 15px;
    display: block;
}

.socialMedia{
    display: flex;
    justify-content: center;
}

.socialMedia > * {
    display: flex;
    padding: 0.2rem;
    font-weight: 500;
}

.socialMedia img {
    width: 15px;
    height: 15px;
}

.socialMedia div * {
    margin: 0 0.1rem;
}

/* about */

.about{
    height: 100vh;
    background-image: url("./images/border-red.jpg");
    background-size: cover;
    background-position: center;
}

.about .wrap {
    height: 100%;
    width: 40%;
    margin: auto;
    padding: 10rem 0;
}

.discover a{
    display: flex;
}

.arrow {
    padding: 0.5rem 0.3rem;
    background-color: rgb(236, 178, 71);
    border:rgb(236, 178, 71);
}

.about .wrap > * {
    margin: 2rem 0;
}

/* samples */

.samples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.samples .wrap *{
    margin: 1.5rem 0;
}

.choices{
    display: flex;
}

.choices div {
    width: 10vw;
    min-width: 100px;
    text-align: center;
    border: #333 0 solid;
    padding: 1rem;
    font-size: 125%;
    transition: 0.25s;
    cursor: pointer;
    border-bottom-width: 2px;
}

.choices div:hover{
    color: orange;
    border-color: orange;
}

.images {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3rem; 
}

.images article {
    height: 40vh;
    min-height: 300px;
    width: 15vw;
    background-color: brown;
    background-size: cover;
    margin: 0 1rem;
    transition: 0.3s;
}

#one{
    background-image: url("./images/content1.png");
}

#two{
    background-image: url("./images/content2.png");
}

#tre{
    background-image: url("./images/content3.png");
}

#fou{
    background-image: url("./images/content4.png");
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 180%;
    transition: 0.3s;
    cursor: pointer;
    height: 100%;
    opacity: 0.1;
}

.content:hover{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.content > *{
    margin: 0.5rem 0;
    display: block;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
}

.stars {
    font-size: 60%;
}

article a.orderNow{
    font-size: 50%;
    margin: 1rem 0;
    font-weight: 600;
}

.dots{
    display: flex;
    flex-direction: row;
}

.dots * {
    width: 1.5vh;
    height: 1.5vh;
    background-color: rgb(235, 180, 78);
    border-radius: 5px;
    margin: 1rem 0.5rem;
    transition: 0.2s;
}

.dots *:hover{
    background-color: rgb(255, 115, 0);
    transform: scale(2);
}

/* hours */

.hours{
    margin-top: 2rem;
    height: 100vh;
    min-height: 700px;
    height: fit-content;
    position: relative;
}

.hours > h1, h2{
    text-align: center;
    margin: 0.3rem 0;
}

.interaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.interaction > * {
    margin: 0.2rem 0;
}

.interaction p {
    font-weight: 500;
    margin: 0.5rem 0;
}

.interaction h1{
    font-size: 195%;
    font-family: 'Times New Roman', Times, serif;
}

.interaction img{
    display: block;
    width: 70px;
    border-radius: 50px;
    border: orange 2px solid;
    padding: 0.25rem;
    transition: 1s;
}

.interaction img:hover{
    transform: rotate(360deg);
}

.mediaHolder{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% auto;
    width: 80%;
    margin: 2rem auto;
}

.mediaHolder:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('./images/coffee.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
  }

#weekDays{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
}

#weekEnds{
    grid-column: 2/3;
    grid-row: 1/2;
}

.mockVideo{
    grid-row: 2/3;
    grid-column: 1/3;
    margin: 1rem auto;
    height: 80%;
    max-height: 300px;
    cursor: pointer;
}

.mediaHolder article{
    padding: 2rem;
}

.mediaHolder article p{
    font-size: 80%;
    color: #333;
    margin-bottom: 0.5rem;
}

.mediaHolder article h3{
    font-size: 120%;
    font-family: fantasy;
}


/* Footer */

footer{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.review img {
    width: 15vw;
    border-radius: 70%;
}

.review * {
    margin: 0.5rem 0;
}

.review h3{
    font-size: 160%;
    font-weight: 500;
}

.review h6{
    font-size: 80%;
    color: gray;
}

.review p {
    width: 50%;
    font-size: 120%;
    color: #444;
    font-style: italic;
}

/* Additional fixes */

section{
    min-height: 600px;
}

/* Responsive */

@media screen and (max-width: 800px) {
    nav{
        width: 100vw;
        max-width: 800px;
        justify-content: center;
    }

    .socialMedia{
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        width: 100vw;
        max-width: 800px;
    }

    .socialMedia:before{
        content: "Follow us:";
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }

    .respHide{
        display: none;
    }

    h2{
        font-size: 180%;
    }

    .welcome{
        width: 100%;
        max-width: 800px;
    }

    .about .wrap {
        width: 90%;
        padding: 4rem 1rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .he1{
        font-size: 150%;
        background-color: white;
        color: orangered
    }

    .images {
        padding: 1rem 0.5rem; 
    }

    .images article {
        min-width: 80px;
        margin: 0;
        transition: 0.3s;
        overflow: hidden;
    }

    .images article .content * {
        transform: scale(0.6)
    }

    .mediaHolder{
        width: 100%;
        font-size: 80%;
    }

    .mockVideo{
        max-width: 80vw;
    }
}

@media screen and (max-width: 350px) {
    .mockVideo{
        max-width: 300px;
        margin-top: 3rem;
    }

    .mediaHolder{
        font-size: 80%;
    }
}

@media screen and (max-height: 450px) {
    .about .wrap{
        margin: 0px auto;
        padding: 1rem;
    }

    .he1{
        display: none;
    }
}